.info-Container{
  width: 100%;
  height: 300px;
  background-color: white;
  margin-bottom: 100vh;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-info{
  color: black;
}

@media screen and (max-width: 960px) {
  .info-Container{
    height: 200px;
    width: 100%;
  }
  .info > h1{
    font-size: 25px;
  }
}