.about-container{
  display: flex;
  background-color: white;
  height: 70vh;
  padding: 100px 0 100px 0;
}


.about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 100px 0 100px;
}

.about-desc > h3{
  color: black;
  margin-bottom: 30px;
  font-size: 20px;
}

.about-desc > p{
  color: black;
  line-height: 1.5;
}

.about-img{
  width: 45%;
  height: 110%;
  display: flex;
  align-self: center;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .about-container{
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-desc{
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc > h3{
    font-size: 20px;
    text-align: center;
  }

  .about-img > img{
    width: 100%;
  }

}